* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
}

img {
    max-width: 100%;
}

button {
    background-color: var(--clr1);
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0 0 5px 0px #000;
}

.translate {
    position: absolute;
    right: 0;
    z-index: 1;
}

body.rtl {
    direction: rtl;
}