@media (max-width:600px) {
    .search-area {
        justify-content: center !important;
    }
    .search-area .key-words {
        display: none;
    }
    #about .about-container {
        flex-direction: column;
    }
    #about .about-container img {
        max-width: 70vw;
    }
    .main-editor {
        flex-direction: column;
    }
    .main-editor .first-box {
        justify-content: center;
        gap: 10px;
    }
    .main-editor .second-box {
        justify-content: center;
        gap: 10px;
    }
}