.search-area {
    height: 100px;
    align-items: center;
    justify-content: space-between;
}

.search-area input {
    height: min-content;
}

.search-area .key-words {
    height: 100%;
    gap: 5px;
}

.search-area .key-words>* {
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: var(--clr1);
}

.gallery-background {
    background-color: #e3e3e3;
    padding: 20px 0;
}

.main-gallery-container {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px;
    justify-items: center;
}

.main-gallery-container>* {
    display: flex;
    align-items: center;
}

.main-editor {
    margin: 20px auto;
    gap: 20px;
    justify-content: center;
}

.main-gallery-container img {
    cursor: pointer;
    width: 250px;
    height: 250px;
}

.main-editor button img {
    width: 25px;
}

.main-editor img {
    width: 25px;
}

.main-editor .edited-img {
    justify-content: center;
    align-items: center;
}

.editing-tools-container {
    gap: 20px;
}

.editing-tools-container .sharing {
    gap: 5px;
}

.editing-tools-container .sharing a,
.upload-file-container {
    color: black;
    width: max-content;
    text-decoration: none;
    background-color: var(--clr1);
    padding: 3px 7px;
    border-radius: 1em;
    box-shadow: 0 0 5px 0px #000;
}

.upload-file-container input {
    width: 80px;
}

.main-editor .stickers {
    gap: 5px;
    grid-template-columns: repeat(auto-fill, minmax(35px, 1fr));
}

.saved-meme-modal {
    padding: 5vw;
    background-color: var(--clr1);
    position: fixed;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

.saved-meme-modal img {
    max-width: 90vw;
}