header {
    background-color: var(--clr1);
    padding: 25px 0;
    box-shadow: 0px 4px 20px 2px #ababab;
}

header img {
    max-width: 200px;
    cursor: pointer;
}

header ul {
    align-items: center;
}

header ul li a {
    padding: 20px;
    text-decoration: none;
    color: white;
}

header ul li a:hover,
header ul li a:focus {
    color: black;
}

header button {
    display: none;
}

.main-logo.logo-rotate {
    animation-name: logo-rotation;
    animation-duration: 1s;
    animation-timing-function: linear;
}

@keyframes logo-rotation {
    25% {
        transform: rotateZ(90deg);
    }
    50% {
        transform: rotateZ(180deg);
    }
    75% {
        transform: rotateZ(270deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}