header {
    background-color: var(--clr1);
    padding: 25px 0;
}

header img {
    max-width: 200px;
}

header ul {
    align-items: center;
}

header ul li:first-child {
    border-right: 1px solid black;
}

header ul li a {
    padding: 20px;
    text-decoration: none;
    color: white;
}

header ul li a:hover {
    color: black;
}